<!doctype html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <style>
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      width: 180px;
      padding: 10px;
    }
    .grid-item {
      /*background-color: rgba(255, 255, 255, 0.8);*/
      background-color: #2196F3;
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 20px;
      font-size: 30px;
      text-align: center;
    }
    .upSpeed{
      background-color: green;
    }
    .downSpeed{
      background-color: orange;
    }
  </style>
</head>

<script>
 let exampleSocket = new WebSocket("ws://stevengrutman.com:56112");

exampleSocket.onmessage = function(e) {
  reader = new FileReader();
  reader.onload = () => {
    var data = new Uint8Array(reader.result); // Key line!!!
    console.log(new TextDecoder().decode(data));
  };
  reader.readAsArrayBuffer(e.data);
};

function motorCommand(command){
  console.log("command:" + command)
  exampleSocket.send(command);
}
</script>

<title>Hello, my name is Shelldon</title>
<a href="forward" target="myIframe">ON</a><br>
<a href="stop" target="myIframe">OFF</a><br>

<div class="grid-container">
  <button class="grid-item upSpeed" onclick="motorCommand('upl')"></button>
  <button class="grid-item" onmousedown="motorCommand('forward');" ontouchstart="motorCommand('forward');" onmouseup="motorCommand('stop');" ontouchend="motorCommand('stop');">F</button>
  <button class="grid-item upSpeed" onclick="motorCommand('upr')"></button>
  <button class="grid-item" onmousedown="motorCommand('left');" ontouchstart="motorCommand('left');" onmouseup="motorCommand('stop');" ontouchend="motorCommand('stop');">L</button>
  <button class="grid-item stop" onclick="motorCommand('stop')">S</button>
  <button class="grid-item"onmousedown="motorCommand('right');" ontouchstart="motorCommand('right');" onmouseup="motorCommand('stop');" ontouchend="motorCommand('stop');">R</button>
  <button class="grid-item downSpeed" onclick="motorCommand('downl')"></button>
  <button class="grid-item" onmousedown="motorCommand('backward');" ontouchstart="motorCommand('backward');" onmouseup="motorCommand('stop');" ontouchend="motorCommand('stop');">B</button>
  <button class="grid-item downSpeed" onclick="motorCommand('downr')"></button>
</div>

<img src="/~/Shelldon_Robot/my_file.jpg"/>

State:<iframe name="myIframe" width="100" height="25" frameBorder="0">
