<!doctype html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<script>
function motorCommand(command){
  console.log("ggg");
  console.log(command);
  $.ajax({
    url: "/motorCommand",
    type: "POST",
    data: {"command": command}
});
}
</script>

<!-- <form action="/ip" method="post">
  <input type="text" id="ip" name="ip" placeholder="ip address">
  <input type="submit" value="Submit">
</form> -->

<title>Hello from Flask</title>
{% if ipInput %}
  <h1>Interacting with: {{ ipInput }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}

<button onClick="motorCommand('mf')">F</button>
<button onClick="motorCommand('mb')">B</button>
<button onClick="motorCommand('mr')">R</button>
<button onClick="motorCommand('ml')">L</button>
<button onClick="motorCommand('ms')">S</button>
